[submodule "external/SDL2"]
	path = external/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/hex_editor"]
	path = external/hex_editor
	url = https://github.com/ocornut/imgui_club.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
